{% extends 'base.html' %}
{% block inner_content %}
<div class="contianer">
	<div class="row">
		<div class="col-lg-3">
			<div class="uk-card uk-card-default">
			<div class="uk-margin-medium-top uk-margin-medium-left">
				<ul class="uk-thumbnav" uk-margin>
    				<li class="uk-active"><a href="#">
    					<img src="https://i.ya-webdesign.com/images/user-avatar-png-7.png" width="100" alt=""></a></li>
				</ul>
			</div>
			<div class="uk-margin-small-top uk-margin-medium-left">
				<h5>{{request.user.username}}</h5>
			</div>
			</div>
		</div>
		<div class="col-lg-6 uk-padding-medium uk-margin-medium-top">
		{% for post in posts %}
			<div class="uk-card uk-card-default uk-width-1-1@m uk-margin">
			    <div class="uk-card-header">
			        <div class="uk-grid-small uk-flex-middle" uk-grid>
			            <div class="uk-width-auto">
			                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
			            </div>
			            <div class="uk-width-expand">
			                <h3 class="uk-card-title uk-margin-remove-bottom">{{post.title}}</h3>
			            </div>
			        </div>
			    </div>
			    <div class="uk-card-body">
			        <p>{{post.text|truncatechars:30 }}</p>
			    </div>
			    <div class="uk-card-footer">
			       <span>{{post.views}} views</span>
			       <span>{{post.post_likes.count}} likes</span>
			    </div>
			    <div class="uk-card-footer">
			        <a href="{% url 'post_details' post.pk %}" class="uk-button uk-button-text">Read more</a>
			    </div>
			</div>
		{% endfor %}
		</div>
		<div class="col-lg-3 uk-padding-medium">
			<div class="uk-padding-medium">
				Suggestions
			</div>
			{% for user in users %}
				<div class="uk-margin-medium-top">
					<a href="">{{user}}</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}