{% extends 'base.html' %}
{% block inner_content %}
<div class="contianer">
	<div class="row">
		<div class="col-lg-12 text-center uk-padding-medium">
			<div class="uk-card uk-card-default uk-margin">
				{% if invalid_request %}
					<h6>You are requested invalid resource</h6>
				{% else %}
					<div class="uk-card uk-card-default uk-width-1-1@m">
					    <div class="uk-card-header">
					        <div class="uk-grid-small uk-flex-middle" uk-grid>
					            <div class="uk-width-auto">
					                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
					            </div>
					            <div class="uk-width-expand">
					                <h3 class="uk-card-title uk-margin-remove-bottom">{{post.title}}</h3>
					                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">
					                	{{post.created_at|date}}
					                </time></p>
					            </div>
					        </div>
					    </div>
					    <div class="uk-card-body">
					        <p>{{post.text}}</p>
					    </div>
					    <div class="uk-card-footer">
					    	{% if post_liked %}
					        <a href="{% url 'post_dislike' post.pk %}" class="uk-button uk-button-text">Dislike</a>
					    	{% else %}
					        <a href="{% url 'post_like' post.pk %}" class="uk-button uk-button-text">Like</a>
					    	{% endif %}
					    </div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}